video.background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 100%;
  padding: 0;
}
.weather {
  text-align: center;
  backdrop-filter: blur(75px);
  padding: 140px 0;
  color: rgba(255, 255, 255, 0.95);
  line-height: 3;
  height: 100vh;
  margin: auto;
}
.current-time,
.location {
  font-size: 23px;
}

.weather-description {
  font-size: 19px;
  text-transform: capitalize;
}

.weather-icon {
  font-size: 65px;
  line-height: 45px;
}

.temperature {
  font-size: 85px;
  font-weight: 600;
}

.units {
  font-size: 30px;
}

.high-low-temp {
  font-size: 22px;
  color: rgb(0 0 0 / 45%);
}
.search {
  text-align: center;
  padding: 140px 0;
}
.current-location-button,
.search-button {
  border-radius: 40px;
  border: 1px solid white;
  opacity: 0.7;
  padding: 5px 10px;
}

.search-button:hover,
.current-location-button:hover {
  color: white;
  background: #00204a;
  transition: all 200ms ease-in-out;
}
.current-location-button {
  position: fixed;
  right: 15px;
  top: 15px;
}
.search-input {
  display: inline;
  width: 175px;
  border-radius: 30px;
  text-transform: capitalize;
}
